.footer{
  position: absolute;
  bottom: 0;
  height: 36px;
  background-color: rgb(0,48,108);
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: white;
  flex-direction: row;
  font-weight: 500;
  font-size: 12px;
  padding-top: 5px;
}

.footer-thanks{
  top: 0px;
  height: 18px;
  display: flex;
  text-align: center; 
  justify-content: center; 
  flex-direction: row;
  margin-bottom: 0px; 
}

.footer-email{
  color: white;
}