p{
  margin-top: 0;
  margin-bottom: 0;
}

body{
  /* This style below will be inherited */
  font-family: Roboto, Arial;
  margin: 0;
  height: 1200px;
  min-height: 800px;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(249, 249, 250);
  position: relative;
}

footer{
  bottom: 0px;
  font-family: Roboto, Arial;
}